@font-face {
    font-family: 'Inter Regular';
    src: url('frontend/src/shared/fonts/Inter-VariableFont_opsz,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.card-task-container {
    max-width: 336px;
    max-height: 224px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgb(201, 201, 201);
    background-color: white;
    padding: 16px;
    box-sizing: border-box;
    font-family: 'Inter Regular', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;

}

.tag-task,
.comments,
.title-and-btn,
.priority-and-deadline {
    max-width: 304px;
    max-height: 24px;
}

.title-and-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-task-option {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    margin-left: auto;
    padding: 4px;
    box-sizing: border-box;
    background-image: url('./more-horizontal.svg');
    cursor: pointer;
    box-shadow: 0px 2px 3px rgb(201, 201, 201);
}

.task-content {
    display: flex;
    gap: 8px;
    flex-direction: column;
}


.task-title {
    font-size: 16px;
    font-weight: 500;
}

.description {
    max-width: 303px;
    max-height: 40px;
    margin-right: auto;
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

.priority-and-deadline {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: gray;
    font-size: 12px;
    font-weight: 500;
    gap: 8px;
}

.img-priority {
    width: 14px;
    height: 15px;
    padding: 5px;
}