@font-face {
    font-family: 'Inter Regular';
    src: url('frontend/src/shared/fonts/Inter-VariableFont_opsz,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.card-task-container {
    max-width: 341px;
    max-height: 246px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    padding: 16px;
    box-sizing: border-box;
    font-family: 'Inter Regular', sans-serif;
}

.task-content {
    display: flex;
    flex-direction: column;
    color: black;
}

.img-and-title-and-btn {
    display: flex;
    flex-direction: row;
    max-height: 44px;
    max-width: 304px;
    align-content: flex-start;
}

.task-img {
    max-width: 24px;
    height: 24px;
    margin-right: 5px;
}

.task-title {
    color: black;
    font-size: 16px;
    width: 181px;
    height: 44px;
    margin-top: 5px;
}

.status-btn {
    margin-left: auto;
    width: 74px;
    height: 32px;
    background-color: rgb(223, 223, 223);
    color: rgb(100, 100, 100);
    border-radius: 20px;
}

.task-description-content {
    color: rgb(87, 87, 87);
    font-size: 12px;
    font-weight: 300;
    max-height: 86px;
    margin-top: auto;
}

.task-deadline-and-priority-container {
    display: flex;
    flex-flow: column nowrap;
    color: rgb(95, 95, 95);
    width: 308px;
    height: 48px;
}

.img-deadline,
.img-priority {
    width: 18px;
    height: 18px;
}

.deadline,
.priority {
    display: flex;
    flex-flow: row nowrap;
    gap: 4px;
    max-height: 24px;
    align-items: center;
}

.deadline,
.priority>p {
    font-size: 12px;
    font-weight: 500;

}