.icon-options {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    margin-left: auto;
    padding: 4px;
    box-sizing: border-box;
    background-image: url('frontend/src/assets/icons/more-horizontal.svg');
    cursor: pointer;
    box-shadow: 0px 2px 3px rgb(201, 201, 201);
}